include LICENSE
include MANIFEST.in
include *.md
graft docs
graft tests
graft {% if cookiecutter.use_src_layout|lower == 'y' %}src/{% endif %}{{ cookiecutter.project_slug }}
global-exclude __pycache__
global-exclude *.py[co]